/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs/*.log
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
database/database.sqlite
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/serve.bat
/logo
